* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@media screen and (max-width:1015px){
    nav li {
        font-size: 15px;
    }
}
/* @media screen and (max-width:768px) {
    body {
        background-color: #d9dcd6;
    }
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Section Header */
/* Horiseon Logo */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Links at the top */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 20px;
}
/* Large backgroun picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Section Content */
/* All content under large background image and left of vertical box */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content img {
    max-height: 200px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* aside Benefits */
/* Vertical box under background image to the right */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color:#ffffff
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
}
 
.benefit-lead h2,
.benefit-brand h2,
.benefit-cost h2 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Section Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

